{% extends "base.html.twig" %}

{% block title %}
    Home
{% endblock %}

{% block content %}
    <section>
        You're logged as <strong>{{ session.user.username }}</strong>
    </section>
{% endblock %}