/* Bazowy alert */
.alert {
  border-radius: var(--pico-border-radius);
  margin-bottom: var(--pico-spacing);
  padding: var(--pico-form-element-spacing-vertical)
    var(--pico-form-element-spacing-horizontal);
}

/* Info */
.alert.info {
  background-color: var(--pico-primary-background);
  color: var(--pico-primary-inverse);
}

/* Success */
.alert.success {
  background-color: var(--pico-form-element-valid-active-border-color);
  color: var(--pico-primary-inverse);
}

/* Warning */
.alert.warning {
  background-color: var(--pico-mark-background-color);
  color: var(--pico-mark-color);
}

/* Error */
.alert.error {
  background-color: var(--pico-form-element-invalid-active-border-color);
  color: var(--pico-primary-inverse);
}
