{% extends "base.html.twig" %}

{% block title %}
    Login
{% endblock %}

{% block content %}
    <article>
        <header>
            <h1>Login Form</h1>
            <p>Enter your credentials to log in.</p>
        </header>

        <section>
            {% include 'auth/login/form.html.twig' %}
        </section>

        <footer>
            <p>
                Don't have an account?
                <a href="{{ link('auth.register') }}">Register here</a>.
            </p>
        </footer>
    </article>
{% endblock %}