{% extends "base.html.twig" %}

{% block title %}
    Register
{% endblock %}

{% block content %}
    <article>
        <header>
            <h1>Register form</h1>
        </header>

        <section>
            {% include 'auth/register/form.html.twig' %}
        </section>

        <footer>
            <p>
                Already has account?
                <a href="{{ link('auth.login') }}">Login</a>.
            </p>
        </footer>
    </article>
{% endblock %}