<!DOCTYPE html>
<html lang="en" data-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark">
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.6/dist/htmx.min.js"></script>
    <script src="/main.js"></script>
    <link rel="stylesheet" href="/pico.min.css">
    <link rel="stylesheet" href="/style.css">
    <title>{% block title %} {% endblock %}</title>
</head>
<body class="container">
    <header>
        {% if session.user %}
            <nav>
                <ul>
                    <li>
                        <strong>Slim template</strong>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="{{ link('logout') }}" role="button">Logout</a>
                    </li>
                </ul>
            </nav>
        {% endif %}
    </header>

    <main>
        {% block content %} {% endblock %}
    </main>
</body>
</html>